/*tablet*/
@media screen and (max-width: 900px){
    .menuFirst{
        height: auto;
        background-color: #f8f9fa ;
    }
    #backgroundColumFirst{
        width: 100%;
        height: 540px;
    }
    #backgroundColumSecond{
        width: 100%;
        height: 540px;
    }
    #backgroundColumThird{
        width: 100%;
        height: 540px;
    }
    .carousel{
        padding-top: 12% ;
    }
    .menuFirst{
        height: 1em;
        background-color: #f8f9fa;
    }
    .menuIcon li a{
        color: #000;
    }
    #menuFirstHide span i{
        color: #000;
    }
    #linksIcones a{
        color: #000;
    }
    .textoCarrosel{
        animation-delay: 2s;
        margin-bottom: 20%;
    }
}

*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    display: inline-block;
    text-decoration: none;
}
.btnNavBarToggler{
    margin-left: 45%;
}
#menuFirstHide span i{
    width: 10px;
    font-size: 1.2em;
}
.menuFirst{
    background-color: #023f5c;
    height: 2rem;
    transition: top 0.5s;
}
.menuIcon li a{
    color: #fff;
}
#menuFirstHide span i{
    color: #fff;
}
#linksIcones a{
    color: #fff;
}
#DropdownMenuInicial{
    color: rgb(2,63,92);
    font-size: 0.9em;
    background-color: #E0E0E0;
    box-sizing: content-box;
    width: 375px;
    height: auto;
}
.itemMenu{
    background-color: white;
    margin:1% 1%;
    border-radius: 5%;
}
#linksIcones i{
    font-size: 1.5em;
}

/*Desaparecer o NavBar*/
#menuSecondHide{
    transition: top 0.7s;
}
/*Segundo navBar*/
#navbarMenu{
    width: 60%;
}
#navbarMenu li {
    margin-left: 5%;
}
#navbarMenu li a {
    color: #424242;
    font-size: 1.12em;
}
.servicesList{
    width: 300px;
    font-size: 0.9em;
}
.menuIcon{
    vertical-align: middle;
}
.imageLogo {
    width: 10%;
}
.textoCarrosel{
    animation-delay: 2s;
    margin-bottom: 50%;
}
.carousel{
    padding-top: 4%;
}
.carousel img{
    height: auto;
}
/*Sobre nos*/
#sectionSobreNos{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: justify;
}
.divSobreNos{
    margin-top: 2%;
}
.divSobreNos h3{
    color: rgb(36,156,255);
    margin-bottom: 3%;
    border-bottom: 1px solid rgb(2,63,92);
}
.divSobreNos p{
    color: rgb(2,63,92);
}

/* serviços*/
#sectionServices{
    background-color: #E0E0E0;
}
#sectionServices p{
    padding: 2% 3% 30% 3%;
}
#sectionServices h3{
    color: rgb(2,63,92);
    padding-top: 2%;
    margin: 5% 0;
    text-align: center;
    border-bottom: 1px solid rgb(2,63,92);
}
.servicesPadding {
    height: 100%;
    background-color: #FFF;
}
#backgroundColumFirst{
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
}
#backgroundColumSecond{
    background: url("../img/2.jpg") no-repeat;
    background-size: cover;
}
#backgroundColumThird{
    background: url("../img/3.jpg") no-repeat;
    background-size: cover;
}
.espacoDireita{
    padding-right: 0;
}
.espacoEsquerda{
    padding-left: 0;
}
.marginDivTexto{
    margin-left: 2%;
}

/*Section depoimento*/
#sectionDepoimento{
    margin-top: 2%;
    background: url("../img/2.jpg") no-repeat;
    background-size: cover;
}
#sectionDepoimento h3{
    color: rgb(36,156,255);
    padding: 2%;
    text-align: center;
}
#sectionDepoimento h4{
    color: rgb(2,63,92);
    padding: 0 25%;
    text-align: center;
}

.depoimentoFirst{
    color: #fff;
    margin: 5% 20%;
    background: rgb(36,156,255);
    border: 2px solid rgb(2,63,92);
    border-radius: 10px;
    text-align: center;
}
.depoimentoFirst i{
    color: rgb(2,63,92);
}
#sectionEbook{
    margin-top: 2%;
    background: url("../img/4.jpg");
}
#sectionEbook h4{
    text-align: center;
    color: rgb(36,156,255);
}
#sectionEbook h3{
    text-align: center;
    color: rgb(2,63,92);
}
.marginEbook{
    margin-top: 10%;
}
.textoEbook{
    color: #FFF;
    padding: 4%;
}
.btnEbook{
    margin-top: 5%;
}
#sectionEmail{
    background-color: rgb(36,156,255);
}
.backgroundColor{
   padding: 2%;
}
.backgroundColor h3{
    color: rgb(2,63,92);
}


/*Celular*/
@media screen and (max-width: 500px){
    .menuFirst{
        height: 1em;
        background-color: #f8f9fa ;
    }
    .menuIcon li a{
        color: #000 ;
    }
    #menuFirstHide span i{
        color: #000 ;
    }
    #linksIcones a{
        color: #000 ;
    }
    #navbarMenu{
        margin-left: auto;
    }
    #navbarMenu{
        width: auto ;
    }
    .imageLogo{
        width: 30%;
    }
    #backgroundColumFirst{
        width: 100%;
        height: 280px;
    }
    #backgroundColumSecond{
        width: 100%;
        height: 280px;
    }
    #backgroundColumThird{
        width: 100%;
        height: 280px;
    }
    .btnMenu{
        display: block;
    }
    .carousel{
        padding-top: 26% ;
    }
    .textoCarrosel{
        animation-delay: 2s;
        margin-top: 0;
    }
}
